
<!-- section one -->
<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-4 text-center">
        
        <div class="col-sm-6">
            <i class="fab fa-instagram fa-8x" ></i>
            
            <h3> <a class="text-info" href="https://instagram.com/erik_larre" target=_blank> Seguinos en Instagram </a> </h3>
            <p>
                <span>
                    Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia
                    dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo
                    suscipit rerum. Aliquid quasi excepturi provident eos.
                </span>
            </p>
        </div>
    

        <div class="col-sm-6">
            <i class="fab fa-youtube fa-8x"></i>
            <h3 class="text-info">Seguinos en YouTube</h3>
            <p>
                <span>
                    Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia
                    dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo
                    suscipit rerum. Aliquid quasi excepturi provident eos.
                </span>
            </p>
        </div>

    </div>
</div>